body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    /*background-color: black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#maingrid {
    background-color: bisque;
    width: 800px;
    padding: 10px 20px;
    border: solid black 2px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}

#cuerpo {
    background-color: white;
    width: 800px;
    padding: 10px 20px;
    border: solid black 2px;
    border-top: none;
}

.logo img{
    border-radius: 20px;
}